<article class="post-container {{post_class}}">
    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>

        <p class="post-date">Published <time datetime="{{published_at}}">{{date format="MMMM Do YYYY"}}</time> <strong>by {{author}}</strong></p>
    </header>

    <div class="post-content clearfix">
        {{#if image}}
            <img class="post-featured-image" src="{{image}}">
        {{/if}}

        {{{content}}}
    </div>

    <footer class="post-footer clearfix">
        {{#if tags}}
            <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
        {{/if}}

        <div class="share">
            <a class="icon-twitter" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-twitter"></i>
                <span class="hidden">Twitter</span>
            </a>

            <a class="icon-gittip" href="https://flattr.com/submit/auto?user_id=PostBlue&url={{url absolute="true"}}&title={{title}}&description={{excerpt}}&language=fr_FR&hidden=0&category=text">
                <i class="fa fa-gittip"></i>
                <span class="hidden">Flattr</span>
            </a>

            <a class="icon-bitcoin" href="bitcoin:1KyKW8xDmdcPQ9sj8ruE92ha7arxt2uQSd?message={{title}}">
               <i class="fa fa-btc"></i>
               <span class="hidden">Bitcoin</span>
            </a>
        </div>
    </footer>
</article>
